{% extends 'base.html' %}
{% load static %}


{% block title %}Chic Events{% endblock title %}

{% block content %}
    <main>
        <div>
            {% comment %} <h1 class=page-titles>Home page</h1> {% endcomment %}
        </div>
        <div class="home">
            <img class="home-pic" src="{% static "images/home2.jpg" %}" alt="picnic table">
        </div>
    </main>
{% endblock content %}

