html, body {
    background-color: white;
    margin: 0;
    font-family: 'Gilda Display';
}

nav li {
    display: inline-block;
    margin: 0 1em;
    padding: 5px 5%;    
}

th {
    text-align: right;
}

input {
    font-family: 'Gilda Display';
    accent-color: #ffddd2;
    padding: 5px;
    margin: 3px;
    width: 96%;
    font-size: 16px;
}

input[type="radio" i] {
    width: auto;
}

textarea {
    font-family: 'Gilda Display';
    width: 100%;
    padding: 5px;
    margin: 3px;
    width: 96.5%;
}
label {
    font-size: 18px;
}

button.button {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 0.5em 1em;
    margin: .5em 0;
    width: 101.5%;
    font-family: 'Gilda Display';
  }
  
button.button:hover {
    background-color: white;
    border-color: #e99bc4;
    color: black;
  }


table {
    border-collapse: collapse;
    max-width: auto;
    min-width: auto;
    margin: auto;   
}

.contact-form > h1{
    text-align: center;
    font-size: 2.5em;
}

h1 {
    margin: 20px 1em;
}

.page-titles {
    font-family: 'Gilda Display';
    text-align: center;
    font-size: 2.5em;
}

.paragraphs {
    font-family: 'Gilda Display';
}

.bg-img {
    /* The image used */
    background-image: url(../images/chic_events.png);
    min-height: 230px;
    margin: 0;
    padding: 0;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
.container {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0px;
    width: 100%;
    display: inline-block;
  }
  
  
  /* Navbar links */
  .topnav a {
    display: inline-block;
    float: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 0 0;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-links {
    list-style: none;
    display: inline-block;
    /* white-space: nowrap; */
    width: 100%;
    font-family: 'Gilda Display';
  }
  
  ul {
      padding-inline-start: 0;
  }

  .topnav a:hover {
    color: #f28482;
    font-size: 120%;
  }

  .home {
    margin: 10px 20px;
  }

  .nav {
    margin: 0px 0 40px 0;
  }

  .home-pic {
    margin: auto;
    padding: 0;
    max-width: 100%;
    width: 70%;
    height: auto;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  /* about us page */
.about-pic {
    margin: auto;
    padding: 0;
    max-width: 100%;
    width: auto;
    float: right;
}

.picnic {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 50%;
    height: auto;
    float: right;

}

.success {
    text-align: center;
}

.birthday {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 50%;
    height: auto;
}

.bach-party {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 50%;
    height: auto;
}

.packages {
    display: grid;    
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    grid-row: 1 span 4;
    margin-right: auto;
    margin-left: auto

}
    /* align-items: center;
    font-size: 15px;    
    column-gap: 5px;
    padding: 40px;
    margin: 30px;
} */

.packages-pics {
    /* object-fit: cover;    
    margin-left: auto;
    margin-right: auto; */
    float: right;
    grid-row: 1 span 5;
    align-items: center;
    width: 75%;
    max-height: 300px;

}

.packages-pics > img {
    /* object-fit: cover;    
    margin-left: auto;
    margin-right: auto; */
    float: right;
    grid-row: 1 span 5;
    width: 75%;

}